<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RecordComplaintDAO">

    <insert id="addRecord" parameterType="com.pojo.RecordComplaint">
        INSERT INTO record_complaint (ent_id, position_id, status, user_id)
        VALUES (#{ent_id}, #{position_id}, #{status}, #{user_id});
    </insert>

    <update id="delRecord" parameterType="java.lang.Integer">
        DELETE
        FROM record_complaint
        WHERE record_id = #{recordId};
    </update>

    <update id="editStatus" parameterType="map">
        UPDATE record_complaint
        SET status=#{status}
        WHERE record_id = #{recordId};
    </update>

    <select id="getRecordByRecordId" parameterType="java.lang.Integer" resultType="com.pojo.RecordComplaint">
        SELECT *
        FROM record_complaint
        WHERE record_id = #{recordId};
    </select>

    <select id="getRecordByUserIdAndPositionId" parameterType="map" resultType="com.pojo.RecordComplaint">
        SELECT *
        FROM record_complaint
        WHERE user_id = #{userId}
          AND position_id = #{positionId};
    </select>

    <select id="getAllRecords" resultType="com.pojo.RecordComplaint">
        SELECT *
        FROM record_complaint;
    </select>

    <select id="getRecordsByUserId" parameterType="java.lang.Integer" resultType="com.pojo.RecordComplaint">
        SELECT *
        FROM record_complaint
        WHERE user_id = #{userId};
    </select>
</mapper>